@font-face {
  font-family: 'Segoe';
  src: url('~@/assets/fonts/SegoeUI.woff2') format('woff2'),
       url('~@/assets/fonts/SegoeUI.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}